<nav class="navbar">
  <div class="navbar-container">
    <!-- Logo con routerLink -->
    <a class="navbar-logo" routerLink="/">MiLogo</a>

    <!-- Menú de navegación -->
    <ul class="navbar-menu">
      <li><a class="navbar-link" routerLink="/" routerLinkActive="active">Inicio</a></li>
      <li><a class="navbar-link" routerLink="/about" routerLinkActive="active">Sobre Nosotros</a></li>
      <li><a class="navbar-link" routerLink="/services" routerLinkActive="active">Servicios</a></li>
      <li><a class="navbar-link" routerLink="/contact" routerLinkActive="active">Contacto</a></li>
    </ul>


  </div>
</nav>
